* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: white;
    text-decoration: none;

    font-size: calc(7px + 1vw);
}

.container {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template: minmax(155px, 1fr) 5fr / minmax(69px, 1fr) minmax(240px, 4fr);
    grid-template-areas: 
    "nav header"
    "nav main";
}

/* Header style start */
.header {
    grid-area: header;

    background-color: white;
    box-shadow: 0px 1px 20px rgba(0,0,0,0.5); 
    z-index: 1;
}

.row-1, div.search, div.user {
    display: flex;
    align-items: center;
}

.row-1 {
    flex-wrap: wrap;
    margin-top: 1%;
}

div.search {
    flex: 2 1 auto;
    justify-content: center;
}

img.search {
    flex: 0 1 auto;
}

input[type="search"] {
    flex: 1 1 auto;

    border-radius: 10px;
    background-color: rgb(206, 203, 203);
    border: none;
    height: 20px;
    padding-left: 5px;
}

div.user {
    flex: 1 1 auto;    
    justify-content: center;
    gap: 2%;
}

div.user > img {
    flex: 0 1 auto;
}

div.user > p {
    flex: 0 1 auto;
}
/* Header style end */
.side-nav {
    grid-area: nav;

    background-color: #333334;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-item.logo img {
    width: 50px;
    height: auto;
}

.nav-item.logo {
    font-weight: bold;
}

.nav-top {
    margin-top: 8%;
}

.nav-top, .nav-mid, .nav-bot {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-left: 8%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    flex-wrap: wrap; 
}

.nav-item > a > img { /* To fully center the second added <a> around the icons... */
    display: flex;
    align-items: center;
}

a:first-child {
    flex: 0 1 auto;
}

a:nth-child(2) {
    flex: 1 1 auto;
    width: 69px;
}

.main-event {
    grid-area: main;

    background-color: rgb(206, 203, 203);
}

img[alt="icon"] {
    width: 25px;
    height: auto;
}

img[alt="profile"] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #333334;
}